@import url("https://fonts.googleapis.com/css?family=Abel|Righteous&subset=latin-ext");
*,
p {
  margin: 0;
  padding: 0; }

.yell-tx {
  color: #FCC470; }

.dark-tx {
  color: #213644; }

.dark-bg {
  background: #213644; }

.lighter-bg {
  background: #345b75; }

.dark-lite-blue {
  background-image: linear-gradient(#213644, #345b75) !important; }

.skinny {
  font-family: 'Abel', sans-serif; }

.fat {
  font-family: 'Righteous', cursive; }

header {
  position: absolute;
  height: 100px;
  z-index: 1000; }
  header .logo-wrap {
    text-align: center;
    border-bottom: 1px solid #FCC470; }
    header .logo-wrap .logo {
      width: 200px;
      padding: 8px 0 0 0; }
  header .screen-nav {
    text-align: center; }
    header .screen-nav ul {
      list-style: none; }
      header .screen-nav ul li {
        display: inline-block;
        padding: 0 18px; }
        header .screen-nav ul li .nav-link {
          display: block;
          height: 20px;
          color: #FCC470;
          text-transform: uppercase;
          letter-spacing: 8px; }
          header .screen-nav ul li .nav-link::after {
            display: block;
            position: relative;
            top: 2px;
            width: 0%;
            height: 1px;
            margin: 0 auto;
            content: "";
            background: #FCC470;
            transition: .3s ease; }
          header .screen-nav ul li .nav-link:hover::after {
            width: 100%; }

#home {
  position: relative;
  height: 100vh;
  padding: 0;
  background-image: url("../../images/compFix.jpg") !important;
  filter: grayscale(100%);
  z-index: 1; }
  #home .background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#213644, #345b75);
    background-blend-mode: multiply;
    opacity: .94; }
  #home .row-reset {
    margin-left: 0;
    margin-right: 0; }
  #home .callme {
    text-align: right; }
  #home .artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    margin-top: 110px; }
    #home .artwork .artwork-wrap {
      position: relative;
      width: 220px; }
      #home .artwork .artwork-wrap #banner-text {
        position: absolute;
        width: 100%;
        top: -48px;
        text-align: center;
        color: #FCC470;
        font-size: 1.4rem;
        font-family: "Righteous", cursive;
        text-transform: uppercase;
        z-index: 1000; }
      #home .artwork .artwork-wrap .animated-text {
        position: absolute;
        top: 56px;
        left: 18px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: .2vw;
        text-transform: uppercase;
        z-index: 1000; }
      #home .artwork .artwork-wrap #HomeArtwork {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
        overflow: hidden; }

.sliding-vertical {
  display: block; }
  .sliding-vertical span {
    animation: topToBottom 7.5s linear infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute !important; }
  .sliding-vertical span:nth-child(2) {
    animation-delay: 2.5s; }
  .sliding-vertical span:nth-child(3) {
    animation-delay: 5s; }

/*topToBottom Animation*/
@keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    transform: translateY(-24px); }
  10% {
    opacity: 1;
    transform: translateY(0px); }
  25% {
    opacity: 1;
    transform: translateY(0px); }
  30% {
    opacity: 0;
    transform: translateY(24px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.callme {
  position: absolute;
  bottom: 60px;
  left: calc(50% - 165px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; }
  .callme button {
    position: relative;
    top: 0;
    width: 330px;
    height: 56px;
    font-size: 1.6rem;
    font-family: "Righteous", cursive;
    text-transform: uppercase;
    color: #FCC470;
    background: #345b75;
    border: none;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: .4s ease;
    cursor: pointer; }
    .callme button:after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      width: 330px;
      height: 56px;
      border-radius: 12px;
      box-shadow: 0 15px 100px black;
      transition: .4s ease;
      opacity: 0; }
    .callme button:hover {
      top: -8px; }
      .callme button:hover:after {
        opacity: .3; }
