header {
  position: absolute;
  height: 100px;
  z-index: 1000;
  .logo-wrap {
    text-align: center;
    border-bottom: 1px solid $yell;
    .logo {
      width: 200px;
      padding: 8px 0 0 0;
    }
  }
  .screen-nav {
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 18px;
        .nav-link {
          display: block;
          height: 20px;
          color: $yell;
          text-transform: uppercase;
          letter-spacing: 8px;
          &::after {
            display: block;
            position: relative;
            top: 2px;
            width: 0%;
            height: 1px;
            margin: 0 auto;
            content: "";
            background: $yell;
            transition: .3s ease;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}