//////// Variables
$yell: #FCC470;
$dark: #213644;
$lighter: rgb(52, 91, 117);
$lighten: #7AA2B2;

//////// Text
.yell-tx {
  color: $yell;
}

.dark-tx {
  color: $dark;
}

//////// Backgrounds
.dark-bg {
  background: $dark;
}

.lighter-bg {
  background: $lighter;
}

//////// Gradients
.dark-lite-blue {
  background-image: linear-gradient($dark, $lighter) !important;
}