@import url('https://fonts.googleapis.com/css?family=Abel|Righteous&subset=latin-ext');

//////// Font variables
$skinny: 'Abel', sans-serif;
$fat: 'Righteous', cursive;

//////// Font classes
.skinny {
  font-family: 'Abel', sans-serif;
}

.fat {
  font-family: 'Righteous', cursive;
}

